{% extends "layouts/full_screen_map.html" %}
{% load staticfiles %}

{% block apple_app_title %}Texas Wells{% endblock %}

{% block apple_touch_icons %}
  <link rel="apple-touch-icon-precomposed" href="{% static "tt_disposal_wells/images/TxTrib-DisposalWells-icon57px.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "tt_disposal_wells/images/TxTrib-DisposalWells-icon72px.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "tt_disposal_wells/images/TxTrib-DisposalWells-icon114px.png" %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "tt_disposal_wells/images/TxTrib-DisposalWells-icon144px.png" %}" />
{% endblock %}

{% block title %}Texas Disposal Wells - The Texas Tribune{% endblock %}

{% block meta %}{{ block.super }}
  <meta property="og:url" content="http://www.texastribune.org/series/water-for-fracking/map/">
  <meta property="og:title" content="Texas Disposal Wells">
  <meta property="og:description" content="This map shows more than 7,000 sites around Texas where wastewater, often from hydraulic fracturing operations, is being disposed of.">
  <meta property="og:image" content="https://s3.amazonaws.com/static.texastribune.org/media/images/2013/04/01/WaterForFracking-Wells-RRC_jpg_474x1000_q100.jpg">
{% endblock %}

{% block css %}{{ block.super }}
  <link rel="stylesheet" href="{% static "tt_disposal_wells/css/style.css" %}?v=1">
{% endblock %}

{% block header_nav_text %}Texas Disposal Wells{% endblock %}


{% block blurb_header_text %}Texas Disposal Wells{% endblock %}

{% block blurb_body %}

  <ul class="social_links">
    <li class="twitter">
      <a href="http://twitter.com/share?text=Interactive Map: Texas Wastewater Disposal&url=http://www.texastribune.org/series/water-for-fracking/map/&amp;via=TribData&related=TexasTribune,TribData" target="_blank">
        <i class="icon-twitter"></i> <span>Tweet</span>
      </a>
    </li>
    <li class="facebook">
      <a href="http://www.facebook.com/sharer.php?u=http://www.texastribune.org/series/water-for-fracking/map/" target="_blank">
        <i class="icon-facebook"></i> <span>Recommend</span>
      </a>
    </li>
  </ul>

  <p>
    This map shows more than 7,000 sites around Texas where wastewater, often from hydraulic fracturing operations, is being disposed of. Such wastewater disposal has surged statewide with the spread of fracking, because it's cheaper to bury the water in disposal wells than to recycle it. Use the "Find Me" button to zoom in to your location, or type your ZIP code into the text box to find nearby disposal wells.
  </p>

  <p>
    The data used in this map comes from the <a href="http://www.rrc.state.tx.us/">Texas Railroad Commission</a>, the agency that regulates oil and gas production. This map visualizes active wells for disposal into <a href="http://webapps2.rrc.state.tx.us/EWA/uicQueryAction.do">"non-productive" and "productive zones."</a> Black dots represent each individual well and are viewable as you zoom in.
  </p>

  <p>
    <a
    href="http://www.texastribune.org/2013/03/29/disposal-wells-fracking-waste-stir-water-concerns/">Read
    more about disposal wells</a>, or <a
    href="http://www.texastribune.org/series/water-for-fracking/">see other
    articles in the series on fracking and water</a>.
  </p>
{% endblock %}

{% block blurb_byline_text %}
  By <a href="https://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a> | April 2, 2013
{% endblock %}

{% block legend_title_text %}Number of Wells{% endblock %}

{% block legend_labels %}
  <li><span style='background:rgb(254, 240, 217);'></span>1</li>
  <li><span style='background:rgb(253, 204, 138);'></span>2</li>
  <li><span style='background:rgb(252, 141, 89);'></span>5</li>
  <li><span style='background:rgb(227, 74, 51);'></span>10</li>
  <li><span style='background:rgb(179, 0, 0);'></span>15+</li>
{% endblock %}

{% block about_title_text %}Texas Disposal Wells{% endblock %}

{% block embed_title_text %}Take our content — please!{% endblock %}

{% block embed_body %}

<p>You are welcome to republish this content at no cost. Use this code to add this map to your site or blog: </p>
<p><code class="embed-body-modal-code">&lt;iframe src="http://www.texastribune.org/series/water-for-fracking/map/?embed=true" style="width: 100%; height: 550px;" scrolling="no" frameborder="0"&gt;&lt;/iframe&gt;</code></p>

{% endblock %}

{% block extra_script %}{{ block.super }}
  <script src="{% static "tt_disposal_wells/js/script.js" %}"></script>
{% endblock %}
